.Doc {
  display: flex;
  flex-direction: row;

  &-nav {
    width: 300px;
    padding-top: 15px;
  }

  &-menu {
    list-style: none;
  }

  &-submenu {
    list-style: none;
  }

  &-article {
    flex: 1;
  }

  &-sectionName {
    text-transform: capitalize;
  }
}
