---
layout: default
---
<div class="Doc">
  <nav class="Doc-nav">
    <ul class="Doc-menu">
      {% if page.collection == 'docs_ru' %}
        {% assign docs = site.docs_ru %}
      {% else %}
        {% assign docs = site.docs_en %}
      {% endif %}
      {% assign cats = docs | group_by:"section" %}
      {% for tag in site.sections_order %}
        {% assign cat = cats | where:"name",tag | first %}
        <li class="Doc-menuItem">
          <div class="Doc-sectionName">
            {{ cat.name | uppercase }}
          </div>
          <ul class="Doc-submenu">
            {% assign docs = cat.items | sort: "order", "last" %}
            {% for post in docs %}
              <li class="Doc-submenuItem">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <article class="Doc-article Article" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="Article-header">
      <h1 class="Article-title">{{ page.title }}</h1>
    </header>

    <div class="Article-content">
      {{ content }}
    </div>

  </article>
</div>
